<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Nordic Motorhome Rental</title>
    <!-- stylesheet -->
    <link rel="stylesheet" type="text/css" href="/static/styles.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

</head>


<!--Lavet af Michael og Daniel-->


<body>
<div th:insert="/template"></div>
<div class="container">
    <br>
    <h1>Tilføj Motorhome</h1>
    <br>

    <a type="button" class="btn btn-primary" href="/models/addModels"
       style="padding-left: 100px;padding-right: 100px;padding-top: 6px;border-top-width: 1px;margin-top: 15px;border-bottom-width: 1px;margin-bottom: 15px;margin-left: 50px;">
        Tilføj Model</a>

    <table class="table table-striped" style="
    width: 400px;">

        <tr>
            <th scope="col">Model</th>
            <th scope="col">Mærke</th>
            <th scope="col">Type</th>
            <th scope="col">Info</th>
            <th scope="col">Vælg</th>
        </tr>

        <tr th:each="models : ${Models}">
            <td th:text="${models.Model_number}"></td>
            <td th:text="${models.Brand}"></td>
            <td th:text="${models.Type}"></td>

            <td>
                <a th:href="@{/models/detailModels(id=${models.Model_number})}" class="btn btn-success"
                   role="button">Mere om</a>
            </td>
            <td>
                <button th:attr="value=${models.Model_number}" onclick="myFunction(value)" class="btn btn-success"
                        role="button">Vælg model
                </button>
            </td>
        </tr>


    </table>

    <form action="#" th:action="@{/motorhomes/addMotorhome}" th:object="${motorHome}" method="POST">
        <div class="form-row">
            <div class="form-group col-md-5">
                <label>Nummerplade</label>
                <input type="text" class="form-control" th:field="*{NumberPlate}">
            </div>

            <div class="form-group col-md-7">
                <label>Model Nr</label>
                <input type="text" class="form-control" readonly th:field="*{Models_Model_number}" id="pick">
            </div>
        </div>
        <div class="form-row">
                <div class="form-group col-md-5">
                    <label> Total Km</label>
                    <input type="number" class="form-control" th:field="*{Total_Km}">
                </div>
                <div class="form-group col-md-7">
                    <label>Status</label>
                    <select class="form-control" th:field="*{status}">
                        <option th:value="Cleaning">Cleaning</option>
                        <option th:value="Repair">Repair</option>
                        <option th:value="CleanAndRepair">Clean and Repair</option>
                        <option th:value="Ready">Ready</option>
                        <option th:value="OutOfOrder">Ude af drift</option>
                        <option th:value="Booked">Booked</option>
                        <option th:value="TempBooked">Midlertidigt booked</option>
                    </select>
                </div>
        </div>

        <button type="submit" class="btn btn-primary">Opret</button>
    </form>

<br>
</div>


<script>
    function myFunction(value) {
        var x = value;
        document.getElementById("pick").value = x;
    }
</script>


<div th:insert="/templateFooter"></div>
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>

</body>
</html>