<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Nordic Motorhome Rental</title>
    <!-- stylesheet -->
    <link rel="stylesheet" type="text/css" href="/static/styles.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

</head>


<!--Lavet af Daniel-->



<body>
<div th:insert="/template"></div>
<div class="container">
    <br>
    <h1>Type oversigt</h1>
    <br>

    <form>
    <div class="form-row">
        <div class="form-group col-md-5">
            <a href="/motorhomes/addMotorhome" class="btn btn-primary">Opret motorhome</a>
        </div>
        <div class="form-group col-md-4">
            <a href="/models/addModels" class="btn btn-primary">Opret model</a>
        </div>
    </div>
    </form>
    <br>

    <table class="table table-striped" style="
    width: 400px;">

        <tr>
            <th scope="col">Type</th>
            <th scope="col">Ready</th>
            <th scope="col">Cleaning</th>
            <th scope="col">Repair</th>
            <th scope="col">Clean and Repair</th>
            <th scope="col">Booked</th>
            <th scope="col">Out of order</th>
            <th>    </th>
        </tr>

           <tr th:each= "Types : ${ReadyCount}">
               <td th:text="${Types.getTyper()}"> </td>
               <td th:text="${Types.getReady()}"> </td>
               <td th:text="${Types.getCleaning()}"> </td>
               <td th:text="${Types.getRepair()}"> </td>
               <td th:text="${Types.getCleanAndRepair()}"> </td>
               <td th:text="${Types.getOutOfOrder()}"> </td>
               <td th:text="${Types.getTempBooked()}"> </td>
               <td> <a class="btn btn-primary" th:href="@{/motorhomes/showMotorhome(Type=${Types.getTyper()})}">Vælg</a>

               </td>

           </tr>


    </table>





</div>
<div th:insert="/templateFooter"></div>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

</body>
</html>