<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title></title>
    <!-- stylesheet -->
    <link rel="stylesheet" type="text/css" href="/static/styles.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>

<body>
<div th:insert="/template"></div>
<div class="container">
<br>
<h1>Om motorhome</h1>
    <br>


    <p style="font-size: 115%;">
        <b>Motorhome ID:</b> <td th:text="${detailMotorhome.motorHomesID}"></td>
    </p>
    <p style="font-size: 115%;">
        <b>Model:</b> <td th:text="${detailMotorhome.models_Model_number}"></td>
    </p>
    <p style="font-size: 115%;">
        <b>Nummerplade:</b> <td th:text="${detailMotorhome.numberPlate}"></td>
    </p>
    <p style="font-size: 115%;">
        <b>Total km:</b> <td th:text="${detailMotorhome.total_Km}"></td>
    </p>
    <!--<p style="font-size: 115%;">
        <b>Status:</b> <td th:text="${detailMotorhome.getStatus()}"></td>
    </p>-->
<!--    (id=${detailMotorhome.getMotorHomesID()})-->
    <form th:action="@{/motorhomes/detailMotorhome}" th:object="${detailMotorhome}" method="POST">
        <div class="form-group" style="font-size: 115%;">
            <label><b>Status: </b></label>
            <select class="form-control" th:field="*{status}">
                <option value="Cleaning">Cleaning</option>
                <option value="Repair">Repair</option>
                <option value="CleanAndRepair">Clean and Repair</option>
                <option value="Ready">Ready</option>
                <option value="OutOfOrder">Ude af drift</option>
                <option value="Booked">Booked</option>
                <option value="TempBooked">Midlertidigt booked</option>
            </select>
        </div>
        <button type="submit" class="btn btn-primary">Ændre status</button>
    </form>


    <div class="wrapper1">
        <a href="../motorhomes/chooseType" class="btn btn-danger" role="button">Tilbage</a>
    </div>
    <div class="wrapper2" th:object="${detailMotorhome}">
        <a th:href="@{/motorhomes/updateMotorhome(id=${detailMotorhome.getMotorHomesID()})}" class="btn btn-danger" role="button">Rediger motorhome</a>
    </div>
    <div class="wrapper3">
        <a href="../motorhomes/chooseType" class="btn btn-danger" role="button">Vis model</a>
    </div>





</div>
<br>



<body>

<div th:insert="/templateFooter"></div>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

</body>
</html>