<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Nordic Motorhome Rental</title>
    <!-- stylesheet -->
    <link rel="stylesheet" type="text/css" href="/static/styles.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

</head>
<body>
<div th:insert="/template"></div>
<div class="container">
    <br>
    <h1>Motorhome oversigt</h1>
    <br>

    <table class="table table-striped" style="
    width: 400px;">

        <tr>
            <!--            <th scope="col">Type</th>-->
            <th scope="col">MotorhomeID</th>
            <th scope="col">Model</th>
            <th scope="col">Nummerplade</th>
            <th scope="col">Status</th>
            <th scope="col">Total Km</th>
            <th></th>
            <th></th>
            <th></th>

        </tr>

        <tr th:each= "Details : ${showMotorhome}">
            <td th:text="${Details.getMhID()}"> </td>
            <td th:text="${Details.getModel()}"> </td>
            <td th:text="${Details.getNumberPlate()}"> </td>
            <td th:text="${Details.getStatus()}"> </td>
            <td th:text="${Details.getTotalKm()}"> </td>

              <!-- Denne knap skal vise Christians super detail side med ukendt videresendt parameter           -->
            <td><a class="btn btn-warning" th:href="@{/motorhomes/detailMotorhome(id=${Details.getMhID()})}">Detaljer</a>
                <!--             Denne knap skal gå videre til booking " som den gør" men med korrekt parameter er ikke sikker på mh id er den korrekte   -->
            <td><a class="btn btn-success" th:href="@{/bookings/addBooking(id=${Details.getMhID()})}">Book</a>
                <!--             Denne knap skal slette den valgte type/motorhome/noget-->
            <td><a class="btn btn-danger" th:href="@{/motorhomes/deleteMotorhome(id=${Details.getMhID()})}">Slet</a>
                <!-- Knappen skal sende enten et objekt videre eller et motorhome id som kan bruges-->
                <!-- Til at oprette en bookings addBooking som bruger    "snak med de andre om hvad den skal bruge til oprettelse af booking       -->


        </tr>

        <!--        <tr th:each= "Types : ${readAllTypes}">-->
        <!--               <td th:text="${Types.Type}"> </td>-->


    </table>

<br>

    <div>
        <a href="/motorhomes/chooseType" class="btn btn-danger">Tilbage</a>
    </div>
    <br>
</div>

<div th:insert="/templateFooter"></div>
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

</body>
</html>