<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Nordic Motorhome Rental</title>
    <!-- stylesheet -->
    <link rel="stylesheet" type="text/css" href="/static/styles.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

</head>
<body>
<div th:insert="/template"></div>
<div class="container">
    <br>
    <h1>Opdater Motorhomeoplysninger</h1>
    <br>
    <form action="#" th:action="@{/motorhomes/updateMotorhome}" th:object="${updateMotorHome}" method="POST">
        <div class="form-group">
            <label>Nummerplade:</label>
            <input class="form-control" type="text" th:field="*{numberPlate}">
        </div>
        <div class="form-group">
            <label>Model nr:</label>
            <input class="form-control" type="text" th:field="*{models_Model_number}">
        </div>
        <div class="form-group">
            <label>Total km:</label>
            <input class="form-control" type="text" th:field="*{total_Km}">
        </div>
        <div class="form-group">
            <input class="form-control" type="hidden" th:field="*{motorHomesID}">
        </div>
        <div class="form-group">
            <label>Status: </label>
            <select class="form-control" th:field="*{status}">
                <option th:value="Cleaning">Cleaning</option>
                <option th:value="Repair">Repair</option>
                <option th:value="CleanAndRepair">Clean and Repair</option>
                <option th:value="Ready">Ready</option>
                <option th:value="OutOfOrder">Ude af drift</option>
                <option th:value="Booked">Booked</option>
                <option th:value="TempBooked">Midlertidigt booked</option>
            </select>
        </div>
        <br>
        <button type="submit" class="btn btn-success">Opdater</button>
    </form>
    <br>

</div>

<div th:insert="/templateFooter"></div>
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

</body>
</html>