<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="../static.css/styles.css">
    <style>
        img{
            display: block;
            margin-left: auto;
            margin-right: auto;
        }
    </style>


</head>


<!--Lavet af Christian-->


<body>
<div class="container">
    <nav class="navbar navbar-expand-lg navbar-dark bg-info" style="z-index:-9999;">
        <div class="navbar-nav">
            <a class="nav-item nav-link active" href="#">Om os <span class="sr-only">(current)</span></a>
            <a class="nav-item nav-link active" href="#">Kontakt os <span class="sr-only">(current)</span></a>
            <a class="nav-item nav-link active" href="#">Udlejningsbetingelser <span class="sr-only">(current)</span></a>
        </div>
    </nav>
</div>

</body>
</html>