<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title></title>
    <!-- stylesheet -->
    <link rel="stylesheet" type="text/css" href="/static/styles.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

</head>
<body>
<div th:insert="/template"></div>
<div class="container">


    <br><br>
    <p>
        <b> BookingID: </b>
    <td th:text="*{id}"></td>
    </p>

    <p>
        <b> MotorHome Model: </b>
    <td th:text="*{BookingInfo.getModels_Model_number()}"></td>
    </p>

    <p>
        <b> MotorHome ID: </b>
    <td th:text="*{BookingInfo.getMotorHomes_MotorHomesID()}"></td>
    </p>

    <p>
        <b> Start dato: </b>
    <td th:text="*{BookingInfo.getFromdate()}"></td>
    </p>

    <p>
        <b> Slut dato: </b>
    <td th:text="*{BookingInfo.getEndDate()}"></td>
    </p>

    <p>
        <b> Antal dage: </b>
    <td th:text="*{days}"></td>
    </p>


    <p>
        <b> MotorHome Pris: </b>
    <td th:text="*{BookingInfo.getPrice()}"></td>
    </p>

    <p>
        <b> Sæson faktor: </b>
    <td th:text="*{Season}"></td>
    </p>

    <p>
        <b> Sæson Pris: </b>
    <td th:text="*{Season * BookingInfo.getPrice()}"></td>
    </p>

    <p>
        <b> Pris for afbookning: </b>
    <td th:text="*{cancelPrice}"></td>
    </p>


    <br><br>
    <table class="table table-striped">
        <tr>
            <th>Fornavn</th>
            <th>EfterNavn</th>
            <th>Email</th>
            <th>Telefon</th>
            <th>Staff-id</th>
        </tr>
        <tr>
            <td th:text="*{BookingInfo.getFirstName()}"> s/td>
            <td th:text="*{BookingInfo.getLastName()}"></td>
            <td th:text="*{BookingInfo.getEmail()}"></td>
            <td th:text="*{BookingInfo.getPhone()}"></td>
            <td th:text="*{BookingInfo.getUsers_UserID()}"></td>
        </tr>
    </table>
    <a class="btn btn-danger" th:href="@{/bookings/CancelBookingen(id=${id})}">Afslut booking</a>
</div>


<div th:insert="/templateFooter"></div>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>

</body>
</html>