<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title></title>
    <!-- stylesheet -->
    <link rel="stylesheet" type="text/css" href="/static/styles.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

</head>


<!--Lavet af Christian-->


<body>
<div th:insert="/template"></div>
<div class="container">
    <br>
    <h1>Nuværende bookinger</h1>
    <br>

    <div>
        <!--        <a type="button" class="btn btn-primary" href="/bookings/addBooking"-->
        <!--           style="padding-left: 100px; padding-right: 100px">-->
        <!--            Opret Booking</a>-->
        <!--//Obsolet, da vi nu booker via Motorhome menu og en booking uden et-->


        <a type="button" class="btn btn-primary" href="/bookings/completedbookings"
           style="padding-left: 100px; padding-right: 100px">
            Se Tidligere Bookings</a>
    </div>
    <br>
    <table class="table table-striped">
        <tr>
            <th>Booking</th>
            <th>Motorhome</th>
            <th>Start Dato</th>
            <th>Slut Dato</th>
            <th>Kunde</th>
            <th>Medarbejder</th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
        <tr th:each="showCurrentBooking: ${showCurrentBookings}">
            <td th:text="${showCurrentBooking.getBookingID()}"></td>
            <td th:text="${showCurrentBooking.getMotorhomeID()}"></td>
            <td th:text="${showCurrentBooking.getFromDate()}"></td>
            <td th:text="${showCurrentBooking.getEndDate()}"></td>
            <td th:text="${showCurrentBooking.getCustomerID()}"></td>
            <td th:text="${showCurrentBooking.getStaffID()}"></td>
            <td><a class="btn btn-success"
                   th:href="@{/bookings/confirmBooking(id=${showCurrentBooking.getBookingID()})}">Afslut</a>
            </td>
            <td><a class="btn btn-warning" th:href="@{/bookings/EditBooking(id=${showCurrentBooking.getBookingID()})}">Edit</a>
            </td>
            <td><a class="btn btn-danger" th:href="@{/bookings/deleteBooking(id=${showCurrentBooking.getBookingID()})}">Delete</a>
            </td>
        </tr>

    </table>

    <br>
</div>
<div th:insert="/templateFooter"></div>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>

</body>
</html>